/* src/App.css */
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #000;
  color: #fff;
  transition: box-shadow 0.3s;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.app-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calculate-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
}
h1{
  align-items: center;
  color: blue;
  justify-content: center;
}
#menuBar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#menuBar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#menuBar li {
  margin-right: 15px;
  color: white;
  cursor: pointer;
}
#menuBar li:hover {
  margin-right: 15px;
  color: rgb(49, 4, 250);
  cursor: pointer;
}

#menuBar li:last-child {
  margin-right: 0;
}

/* src/App.css */
/* Add styling for the tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
